@page
@model FopTecProject.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.ContactPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.ContactPerson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.OrgNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.OrgNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Discription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Discription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.Properties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.Properties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.LastChangeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.LastChangeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.LastChangeBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.LastChangeBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customers?.CustomerId">Edit</a> |
    <a asp-page="./MyAccount">Back to List</a>
</div>
